<h2 id="crossreference" class="list">Cross reference for Budget Ontology classes, properties and dataproperties <span class="backlink"> back to <a href="#toc">ToC</a></span></h2>
This section provides details for each class and property defined by Budget Ontology.
<div xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" id="classes">
   <h3 id="classes-headline" class="list">Classes</h3>
   <ul class="hlist">
      <li>
         <a href="#AccountingReference"
            title="https://data.rijksfinancien.nl/budget/def/AccountingReference">Accounting reference</a>
      </li>
      <li>
         <a href="#Budget" title="https://data.rijksfinancien.nl/budget/def/Budget">Budget</a>
      </li>
      <li>
         <a href="#BudgetAdjustment"
            title="https://data.rijksfinancien.nl/budget/def/BudgetAdjustment">Budget adjustment</a>
      </li>
      <li>
         <a href="#BudgetAmount"
            title="https://data.rijksfinancien.nl/budget/def/BudgetAmount">Budget amount</a>
      </li>
      <li>
         <a href="#BudgetComponent"
            title="https://data.rijksfinancien.nl/budget/def/BudgetComponent">Budget component</a>
      </li>
      <li>
         <a href="#BudgetFunction"
            title="https://data.rijksfinancien.nl/budget/def/BudgetFunction">Budget function</a>
      </li>
      <li>
         <a href="#BudgetLine"
            title="https://data.rijksfinancien.nl/budget/def/BudgetLine">Budget line</a>
      </li>
      <li>
         <a href="#BudgetedAgent"
            title="https://data.rijksfinancien.nl/budget/def/BudgetedAgent">Budgeted agent</a>
      </li>
      <li>
         <a href="#BudgetedEntity"
            title="https://data.rijksfinancien.nl/budget/def/BudgetedEntity">Budgeted entity</a>
      </li>
      <li>
         <a href="#BudgetedTransactionType"
            title="https://data.rijksfinancien.nl/budget/def/BudgetedTransactionType">Budgeted transaction type</a>
      </li>
      <li>
         <a href="#Classification"
            title="https://data.rijksfinancien.nl/budget/def/Classification">Classification</a>
      </li>
   </ul>
   <div class="entity" id="AccountingReference">
      <h3>Accounting reference<sup class="type-c" title="class">c</sup>
         <span class="backlink"> back to <a href="#toc">ToC</a> or <a href="#classes">Class ToC</a>
         </span>
      </h3>
      <p>
         <strong>IRI:</strong> https://data.rijksfinancien.nl/budget/def/AccountingReference</p>
      <div class="comment">
         <span class="markdown">An accounting reference contains an accounting specification of a budgeted amount in a budget component. A budget component has one or more budget accounting references.</span>
      </div>
      <dl class="description">
         <dt>is in range of</dt>
         <dd>
            <a href="#hasAccountingReference"
               title="https://data.rijksfinancien.nl/budget/def/hasAccountingReference">has accounting reference</a>
            <sup class="type-op" title="object property">op</sup>
         </dd>
      </dl>
   </div>
   <div class="entity" id="Budget">
      <h3>Budget<sup class="type-c" title="class">c</sup>
         <span class="backlink"> back to <a href="#toc">ToC</a> or <a href="#classes">Class ToC</a>
         </span>
      </h3>
      <p>
         <strong>IRI:</strong> https://data.rijksfinancien.nl/budget/def/Budget</p>
      <div class="comment">
         <span class="markdown">A budget is a financial plan for a period and a budgeted agent with an estimate of future financial transitions like costs, revenue, expenditures and receipts and their detailed description and justification. The budget may have a recurring interval associated with it, or it may be incidental. Companies, governments, families, and other organizations use it to express strategic plans of activities or events in measurable terms. The budget can be applied as a forecasting instrument for financial transitions and functions then as an estimate that facilitates strategic decisions for the budgeted agent in question, or other agents. A budget can be used to authorize the budgeted agent to undergo financial transitions and functions then as a ceiling. A budget can also be used in a combination of these functions.</span>
      </div>
      <dl class="description">
         <dt>has super-classes</dt>
         <dd>
            <a href="#BudgetComponent"
               title="https://data.rijksfinancien.nl/budget/def/BudgetComponent">Budget component</a>
            <sup class="type-c" title="class">c</sup>
         </dd>
      </dl>
   </div>
   <div class="entity" id="BudgetAdjustment">
      <h3>Budget adjustment<sup class="type-c" title="class">c</sup>
         <span class="backlink"> back to <a href="#toc">ToC</a> or <a href="#classes">Class ToC</a>
         </span>
      </h3>
      <p>
         <strong>IRI:</strong> https://data.rijksfinancien.nl/budget/def/BudgetAdjustment</p>
      <div class="comment">
         <span class="markdown">A budget component may be adjusted. The adjustment is modeled as the budget component to which it is applied.</span>
      </div>
      <dl class="description">
         <dt>has super-classes</dt>
         <dd>
            <a href="#BudgetComponent"
               title="https://data.rijksfinancien.nl/budget/def/BudgetComponent">Budget component</a>
            <sup class="type-c" title="class">c</sup>
         </dd>
         <dt>is in range of</dt>
         <dd>
            <a href="#hasBudgetAdjustment"
               title="https://data.rijksfinancien.nl/budget/def/hasBudgetAdjustment">has budget adjustment</a>
            <sup class="type-op" title="object property">op</sup>
         </dd>
      </dl>
   </div>
   <div class="entity" id="BudgetAmount">
      <h3>Budget amount<sup class="type-c" title="class">c</sup>
         <span class="backlink"> back to <a href="#toc">ToC</a> or <a href="#classes">Class ToC</a>
         </span>
      </h3>
      <p>
         <strong>IRI:</strong> https://data.rijksfinancien.nl/budget/def/BudgetAmount</p>
      <div class="comment">
         <span class="markdown">A budget amount is the financial quantity that is budgeted. It can have dimensions like currency and notation.</span>
      </div>
      <dl class="description">
         <dt>is in range of</dt>
         <dd>
            <a href="#hasBudgetLineAmount"
               title="https://data.rijksfinancien.nl/budget/def/hasBudgetLineAmount">has budget line amount</a>
            <sup class="type-op" title="object property">op</sup>
         </dd>
      </dl>
   </div>
   <div class="entity" id="BudgetComponent">
      <h3>Budget component<sup class="type-c" title="class">c</sup>
         <span class="backlink"> back to <a href="#toc">ToC</a> or <a href="#classes">Class ToC</a>
         </span>
      </h3>
      <p>
         <strong>IRI:</strong> https://data.rijksfinancien.nl/budget/def/BudgetComponent</p>
      <div class="comment">
         <span class="markdown">A fundamental budget component that can be described using classifications and accounting references</span>
      </div>
      <dl class="description">
         <dt>is equivalent to</dt>
         <dd>
            <a href="#Budget" title="https://data.rijksfinancien.nl/budget/def/Budget">Budget</a>
            <sup class="type-c" title="class">c</sup> 
            <span class="logic">or</span> 
            <a href="#BudgetAdjustment"
               title="https://data.rijksfinancien.nl/budget/def/BudgetAdjustment">Budget adjustment</a>
            <sup class="type-c" title="class">c</sup> 
            <span class="logic">or</span> 
            <a href="#BudgetLine"
               title="https://data.rijksfinancien.nl/budget/def/BudgetLine">Budget line</a>
            <sup class="type-c" title="class">c</sup>
         </dd>
         <dt>has sub-classes</dt>
         <dd>
            <a href="#Budget" title="https://data.rijksfinancien.nl/budget/def/Budget">Budget</a>
            <sup class="type-c" title="class">c</sup>, <a href="#BudgetAdjustment"
               title="https://data.rijksfinancien.nl/budget/def/BudgetAdjustment">Budget adjustment</a>
            <sup class="type-c" title="class">c</sup>, <a href="#BudgetLine"
               title="https://data.rijksfinancien.nl/budget/def/BudgetLine">Budget line</a>
            <sup class="type-c" title="class">c</sup>
         </dd>
         <dt>is in domain of</dt>
         <dd>
            <a href="#budgetedPeriod"
               title="https://data.rijksfinancien.nl/budget/def/budgetedPeriod">budgeted period</a>
            <sup class="type-op" title="object property">op</sup>, <a href="#authorized"
               title="https://data.rijksfinancien.nl/budget/def/authorized">date time authorized</a>
            <sup class="type-dp" title="data property">dp</sup>, <a href="#issued" title="https://data.rijksfinancien.nl/budget/def/issued">date time issued</a>
            <sup class="type-dp" title="data property">dp</sup>, <a href="#modified"
               title="https://data.rijksfinancien.nl/budget/def/modified">date time modified</a>
            <sup class="type-dp" title="data property">dp</sup>, <a href="#submitted"
               title="https://data.rijksfinancien.nl/budget/def/submitted">date time submitted</a>
            <sup class="type-dp" title="data property">dp</sup>, <a href="#hasAccountingReference"
               title="https://data.rijksfinancien.nl/budget/def/hasAccountingReference">has accounting reference</a>
            <sup class="type-op" title="object property">op</sup>, <a href="#hasAuthorizingAgent"
               title="https://data.rijksfinancien.nl/budget/def/hasAuthorizingAgent">has authorizing agent</a>
            <sup class="type-op" title="object property">op</sup>, <a href="#hasBudgetAdjustment"
               title="https://data.rijksfinancien.nl/budget/def/hasBudgetAdjustment">has budget adjustment</a>
            <sup class="type-op" title="object property">op</sup>, <a href="#description"
               title="https://data.rijksfinancien.nl/budget/def/description">has budget description</a>
            <sup class="type-dp" title="data property">dp</sup>, <a href="#hasBudgetFunction"
               title="https://data.rijksfinancien.nl/budget/def/hasBudgetFunction">has budget function</a>
            <sup class="type-op" title="object property">op</sup>, <a href="#hasBudgetLine"
               title="https://data.rijksfinancien.nl/budget/def/hasBudgetLine">has budget line</a>
            <sup class="type-op" title="object property">op</sup>, <a href="#hasBudgetedAgent"
               title="https://data.rijksfinancien.nl/budget/def/hasBudgetedAgent">has budgeted agent</a>
            <sup class="type-op" title="object property">op</sup>, <a href="#hasBudgetedEntity"
               title="https://data.rijksfinancien.nl/budget/def/hasBudgetedEntity">has budgeted entity</a>
            <sup class="type-op" title="object property">op</sup>, <a href="#hasClassification"
               title="https://data.rijksfinancien.nl/budget/def/hasClassification">has classification</a>
            <sup class="type-op" title="object property">op</sup>, <a href="#identifier"
               title="https://data.rijksfinancien.nl/budget/def/identifier">identifier</a>
            <sup class="type-dp" title="data property">dp</sup>, <a href="#isVersionOf"
               title="https://data.rijksfinancien.nl/budget/def/isVersionOf">isVersionOf</a>
            <sup class="type-op" title="object property">op</sup>, <a href="#periodicity"
               title="https://data.rijksfinancien.nl/budget/def/periodicity">periodicity</a>
            <sup class="type-dp" title="data property">dp</sup>, <a href="#provenance"
               title="https://data.rijksfinancien.nl/budget/def/provenance">provenance</a>
            <sup class="type-dp" title="data property">dp</sup>
         </dd>
         <dt>is in range of</dt>
         <dd>
            <a href="#hasBudgetComponent"
               title="https://data.rijksfinancien.nl/budget/def/hasBudgetComponent">has budget</a>
            <sup class="type-op" title="object property">op</sup>, <a href="#isVersionOf"
               title="https://data.rijksfinancien.nl/budget/def/isVersionOf">isVersionOf</a>
            <sup class="type-op" title="object property">op</sup>
         </dd>
      </dl>
   </div>
   <div class="entity" id="BudgetFunction">
      <h3>Budget function<sup class="type-c" title="class">c</sup>
         <span class="backlink"> back to <a href="#toc">ToC</a> or <a href="#classes">Class ToC</a>
         </span>
      </h3>
      <p>
         <strong>IRI:</strong> https://data.rijksfinancien.nl/budget/def/BudgetFunction</p>
      <div class="comment">
         <span class="markdown">A budget can be used for three different goals. (1) The budget can have a forecasting function and works then solely as an estimate of future financial transitions like costs, revenue, expenditures and receipts for an organisation. This can be used to compare actuals with, also known as realisation. (2) The budget can have an authorization function and works then solely as a limiting ceiling for a budgeted agent, like an organisation or person. This does not preclude that there might be prognoses for financial transitions in the future that either exceed or subceed the given budget. This does not even preclude that an agent might actually undergo more financial transitions like expenditures, receipts, costs and revenue than the budget ceiling allows. (3) In its fullest form a budget functions as both an estimate and limiting ceiling.</span>
      </div>
      <dl class="description">
         <dt>is in range of</dt>
         <dd>
            <a href="#hasBudgetFunction"
               title="https://data.rijksfinancien.nl/budget/def/hasBudgetFunction">has budget function</a>
            <sup class="type-op" title="object property">op</sup>
         </dd>
         <dt>has members</dt>
         <dd>
            <a href="#Ceiling"
               title="https://data.rijksfinancien.nl/budget/def/Ceiling">Ceiling</a>
            <sup class="type-ni" title="named individual">ni</sup>, <a href="#CeilingEstimate"
               title="https://data.rijksfinancien.nl/budget/def/CeilingEstimate">Ceiling Estimate</a>
            <sup class="type-ni" title="named individual">ni</sup>, <a href="#Estimate"
               title="https://data.rijksfinancien.nl/budget/def/Estimate">Estimate</a>
            <sup class="type-ni" title="named individual">ni</sup>
         </dd>
      </dl>
   </div>
   <div class="entity" id="BudgetLine">
      <h3>Budget line<sup class="type-c" title="class">c</sup>
         <span class="backlink"> back to <a href="#toc">ToC</a> or <a href="#classes">Class ToC</a>
         </span>
      </h3>
      <p>
         <strong>IRI:</strong> https://data.rijksfinancien.nl/budget/def/BudgetLine</p>
      <div class="comment">
         <span class="markdown">A budget line contains a specification of a budgeted amount in a budget. A budget has one or more budget lines. A budget line can itself consist of one or more underlying budget lines for further specification.</span>
      </div>
      <dl class="description">
         <dt>has super-classes</dt>
         <dd>
            <a href="#BudgetComponent"
               title="https://data.rijksfinancien.nl/budget/def/BudgetComponent">Budget component</a>
            <sup class="type-c" title="class">c</sup>
         </dd>
         <dt>is in domain of</dt>
         <dd>
            <a href="#hasBudgetLineAmount"
               title="https://data.rijksfinancien.nl/budget/def/hasBudgetLineAmount">has budget line amount</a>
            <sup class="type-op" title="object property">op</sup>
         </dd>
         <dt>is in range of</dt>
         <dd>
            <a href="#hasBudgetLine"
               title="https://data.rijksfinancien.nl/budget/def/hasBudgetLine">has budget line</a>
            <sup class="type-op" title="object property">op</sup>
         </dd>
      </dl>
   </div>
   <div class="entity" id="BudgetedAgent">
      <h3>Budgeted agent<sup class="type-c" title="class">c</sup>
         <span class="backlink"> back to <a href="#toc">ToC</a> or <a href="#classes">Class ToC</a>
         </span>
      </h3>
      <p>
         <strong>IRI:</strong> https://data.rijksfinancien.nl/budget/def/BudgetedAgent</p>
      <div class="comment">
         <span class="markdown">An agent that is a budget beneficiary and receives as such a financial mandate to spend money up and till a maximum financial ceiling as set by the budget, or an agent that uses the budget as an estimate of future expenditures and receipts, or both.</span>
      </div>
      <dl class="description">
         <dt>has super-classes</dt>
         <dd>
            <a href="http://xmlns.com/foaf/0.1/Agent"
               target="_blank"
               title="http://xmlns.com/foaf/0.1/Agent">agent</a>
            <sup class="type-c" title="class">c</sup>
         </dd>
         <dt>is in domain of</dt>
         <dd>
            <a href="#hasBudgetComponent"
               title="https://data.rijksfinancien.nl/budget/def/hasBudgetComponent">has budget</a>
            <sup class="type-op" title="object property">op</sup>
         </dd>
      </dl>
   </div>
   <div class="entity" id="BudgetedEntity">
      <h3>Budgeted entity<sup class="type-c" title="class">c</sup>
         <span class="backlink"> back to <a href="#toc">ToC</a> or <a href="#classes">Class ToC</a>
         </span>
      </h3>
      <p>
         <strong>IRI:</strong> https://data.rijksfinancien.nl/budget/def/BudgetedEntity</p>
      <div class="comment">
         <span class="markdown">Any resource that money can be spent on, can be budgeted. The resource can be any object, whether abstract or physical, any activity, organisation, desired state of affairs, region, instrument, tool, et cetera.</span>
      </div>
      <dl class="description">
         <dt>has sub-classes</dt>
         <dd>
            <a href="#BudgetedTransactionType"
               title="https://data.rijksfinancien.nl/budget/def/BudgetedTransactionType">Budgeted transaction type</a>
            <sup class="type-c" title="class">c</sup>
         </dd>
         <dt>is in range of</dt>
         <dd>
            <a href="#hasBudgetedEntity"
               title="https://data.rijksfinancien.nl/budget/def/hasBudgetedEntity">has budgeted entity</a>
            <sup class="type-op" title="object property">op</sup>
         </dd>
      </dl>
   </div>
   <div class="entity" id="BudgetedTransactionType">
      <h3>Budgeted transaction type<sup class="type-c" title="class">c</sup>
         <span class="backlink"> back to <a href="#toc">ToC</a> or <a href="#classes">Class ToC</a>
         </span>
      </h3>
      <p>
         <strong>IRI:</strong> https://data.rijksfinancien.nl/budget/def/BudgetedTransactionType</p>
      <div class="comment">
         <span class="markdown">A budgeted transaction type indicates what transaction type is budgeted. Examples can be an expenditure (payment), expense, receipt, revenue, commitment, asset, asset deprecation, liability, loan, subsidy, appraisal, interest, and other accounting transactions or entries. It is a subclass of BudgetedEntity but warrants its own class.</span>
      </div>
      <dl class="description">
         <dt>has super-classes</dt>
         <dd>
            <a href="#BudgetedEntity"
               title="https://data.rijksfinancien.nl/budget/def/BudgetedEntity">Budgeted entity</a>
            <sup class="type-c" title="class">c</sup>
         </dd>
      </dl>
   </div>
   <div class="entity" id="Classification">
      <h3>Classification<sup class="type-c" title="class">c</sup>
         <span class="backlink"> back to <a href="#toc">ToC</a> or <a href="#classes">Class ToC</a>
         </span>
      </h3>
      <p>
         <strong>IRI:</strong> https://data.rijksfinancien.nl/budget/def/Classification</p>
      <div class="comment">
         <span class="markdown">A classification classifies the budget component into a specific categorical group to provide additional information regarding the context. A budget component can have one or more classifications and these classifications may come from different knowledge domains and ontologies. A classification can be of a hierarchical structure.</span>
      </div>
      <dl class="description">
         <dt>is in range of</dt>
         <dd>
            <a href="#hasClassification"
               title="https://data.rijksfinancien.nl/budget/def/hasClassification">has classification</a>
            <sup class="type-op" title="object property">op</sup>
         </dd>
      </dl>
   </div>
</div><div xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" id="objectproperties">
   <h3 id="properties" class="list">Object Properties</h3>
   <ul class="hlist">
      <li>
         <a href="#budgetedPeriod"
            title="https://data.rijksfinancien.nl/budget/def/budgetedPeriod">budgeted period</a>
      </li>
      <li>
         <a href="#hasAccountingReference"
            title="https://data.rijksfinancien.nl/budget/def/hasAccountingReference">has accounting reference</a>
      </li>
      <li>
         <a href="#hasAuthorizingAgent"
            title="https://data.rijksfinancien.nl/budget/def/hasAuthorizingAgent">has authorizing agent</a>
      </li>
      <li>
         <a href="#hasBudgetComponent"
            title="https://data.rijksfinancien.nl/budget/def/hasBudgetComponent">has budget</a>
      </li>
      <li>
         <a href="#hasBudgetAdjustment"
            title="https://data.rijksfinancien.nl/budget/def/hasBudgetAdjustment">has budget adjustment</a>
      </li>
      <li>
         <a href="#hasBudgetFunction"
            title="https://data.rijksfinancien.nl/budget/def/hasBudgetFunction">has budget function</a>
      </li>
      <li>
         <a href="#hasBudgetLine"
            title="https://data.rijksfinancien.nl/budget/def/hasBudgetLine">has budget line</a>
      </li>
      <li>
         <a href="#hasBudgetLineAmount"
            title="https://data.rijksfinancien.nl/budget/def/hasBudgetLineAmount">has budget line amount</a>
      </li>
      <li>
         <a href="#hasBudgetedAgent"
            title="https://data.rijksfinancien.nl/budget/def/hasBudgetedAgent">has budgeted agent</a>
      </li>
      <li>
         <a href="#hasBudgetedEntity"
            title="https://data.rijksfinancien.nl/budget/def/hasBudgetedEntity">has budgeted entity</a>
      </li>
      <li>
         <a href="#hasClassification"
            title="https://data.rijksfinancien.nl/budget/def/hasClassification">has classification</a>
      </li>
      <li>
         <a href="#isVersionOf"
            title="https://data.rijksfinancien.nl/budget/def/isVersionOf">isVersionOf</a>
      </li>
   </ul>
   <div class="entity" id="budgetedPeriod">
      <h3>budgeted period<sup class="type-op" title="object property">op</sup>
         <span class="backlink"> back to <a href="#toc">ToC</a> or <a href="#objectproperties">Object Property ToC</a>
         </span>
      </h3>
      <p>
         <strong>IRI:</strong> https://data.rijksfinancien.nl/budget/def/budgetedPeriod</p>
      <div class="comment">
         <span class="markdown">The date time interval in which money can be spent or received by a budgeted agent up and till a maximum financial ceiling as set by the budget, or the date time interval in which money is prognosed to be spent or received by a budgeted agent up and till the estimate as set by the budget, or both.</span>
      </div>
      <div class="description">
         <dl>
            <dt>has domain</dt>
            <dd>
               <a href="#BudgetComponent"
                  title="https://data.rijksfinancien.nl/budget/def/BudgetComponent">Budget component</a>
               <sup class="type-c" title="class">c</sup>
            </dd>
            <dt>has range</dt>
            <dd>
               <a href="http://www.w3.org/2006/time#DateTimeInterval"
                  target="_blank"
                  title="http://www.w3.org/2006/time#DateTimeInterval">date time interval</a>
               <sup class="type-c" title="class">c</sup>
            </dd>
         </dl>
      </div>
   </div>
   <div class="entity" id="hasAccountingReference">
      <h3>has accounting reference<sup class="type-op" title="object property">op</sup>
         <span class="backlink"> back to <a href="#toc">ToC</a> or <a href="#objectproperties">Object Property ToC</a>
         </span>
      </h3>
      <p>
         <strong>IRI:</strong> https://data.rijksfinancien.nl/budget/def/hasAccountingReference</p>
      <div class="comment">
         <span class="markdown">A budget component has one or more accounting references.</span>
      </div>
      <div class="description">
         <dl>
            <dt>has domain</dt>
            <dd>
               <a href="#BudgetComponent"
                  title="https://data.rijksfinancien.nl/budget/def/BudgetComponent">Budget component</a>
               <sup class="type-c" title="class">c</sup>
            </dd>
            <dt>has range</dt>
            <dd>
               <a href="#AccountingReference"
                  title="https://data.rijksfinancien.nl/budget/def/AccountingReference">Accounting reference</a>
               <sup class="type-c" title="class">c</sup>
            </dd>
         </dl>
      </div>
   </div>
   <div class="entity" id="hasAuthorizingAgent">
      <h3>has authorizing agent<sup class="type-op" title="object property">op</sup>
         <span class="backlink"> back to <a href="#toc">ToC</a> or <a href="#objectproperties">Object Property ToC</a>
         </span>
      </h3>
      <p>
         <strong>IRI:</strong> https://data.rijksfinancien.nl/budget/def/hasAuthorizingAgent</p>
      <div class="comment">
         <span class="markdown">An agent that authorizes the budget so that the budgeted agent (as a budget beneficiary) can spend the money up and till a maximum financial ceiling as set by the budget. The budget is in this case used as a financial mandate.</span>
      </div>
      <div class="description">
         <dl>
            <dt>has domain</dt>
            <dd>
               <a href="#BudgetComponent"
                  title="https://data.rijksfinancien.nl/budget/def/BudgetComponent">Budget component</a>
               <sup class="type-c" title="class">c</sup>
            </dd>
            <dt>has range</dt>
            <dd>
               <a href="http://xmlns.com/foaf/0.1/Agent"
                  target="_blank"
                  title="http://xmlns.com/foaf/0.1/Agent">agent</a>
               <sup class="type-c" title="class">c</sup>
            </dd>
         </dl>
      </div>
   </div>
   <div class="entity" id="hasBudgetComponent">
      <h3>has budget<sup class="type-op" title="object property">op</sup>
         <span class="backlink"> back to <a href="#toc">ToC</a> or <a href="#objectproperties">Object Property ToC</a>
         </span>
      </h3>
      <p>
         <strong>IRI:</strong> https://data.rijksfinancien.nl/budget/def/hasBudgetComponent</p>
      <div class="comment">
         <span class="markdown">A budgeted agent has a budget component.</span>
      </div>
      <div class="description">
         <dl>
            <dt>has domain</dt>
            <dd>
               <a href="#BudgetedAgent"
                  title="https://data.rijksfinancien.nl/budget/def/BudgetedAgent">Budgeted agent</a>
               <sup class="type-c" title="class">c</sup>
            </dd>
            <dt>has range</dt>
            <dd>
               <a href="#BudgetComponent"
                  title="https://data.rijksfinancien.nl/budget/def/BudgetComponent">Budget component</a>
               <sup class="type-c" title="class">c</sup>
            </dd>
         </dl>
      </div>
   </div>
   <div class="entity" id="hasBudgetAdjustment">
      <h3>has budget adjustment<sup class="type-op" title="object property">op</sup>
         <span class="backlink"> back to <a href="#toc">ToC</a> or <a href="#objectproperties">Object Property ToC</a>
         </span>
      </h3>
      <p>
         <strong>IRI:</strong> https://data.rijksfinancien.nl/budget/def/hasBudgetAdjustment</p>
      <div class="comment">
         <span class="markdown">A budget component may be adjusted.</span>
      </div>
      <div class="description">
         <dl>
            <dt>has domain</dt>
            <dd>
               <a href="#BudgetComponent"
                  title="https://data.rijksfinancien.nl/budget/def/BudgetComponent">Budget component</a>
               <sup class="type-c" title="class">c</sup>
            </dd>
            <dt>has range</dt>
            <dd>
               <a href="#BudgetAdjustment"
                  title="https://data.rijksfinancien.nl/budget/def/BudgetAdjustment">Budget adjustment</a>
               <sup class="type-c" title="class">c</sup>
            </dd>
         </dl>
      </div>
   </div>
   <div class="entity" id="hasBudgetFunction">
      <h3>has budget function<sup class="type-op" title="object property">op</sup>
         <span class="backlink"> back to <a href="#toc">ToC</a> or <a href="#objectproperties">Object Property ToC</a>
         </span>
      </h3>
      <p>
         <strong>IRI:</strong> https://data.rijksfinancien.nl/budget/def/hasBudgetFunction</p>
      <div class="comment">
         <span class="markdown">The budget or a budget line is used with a specific goal.</span>
      </div>
      <div class="description">
         <dl>
            <dt>has domain</dt>
            <dd>
               <a href="#BudgetComponent"
                  title="https://data.rijksfinancien.nl/budget/def/BudgetComponent">Budget component</a>
               <sup class="type-c" title="class">c</sup>
            </dd>
            <dt>has range</dt>
            <dd>
               <a href="#BudgetFunction"
                  title="https://data.rijksfinancien.nl/budget/def/BudgetFunction">Budget function</a>
               <sup class="type-c" title="class">c</sup>
            </dd>
         </dl>
      </div>
   </div>
   <div class="entity" id="hasBudgetLine">
      <h3>has budget line<sup class="type-op" title="object property">op</sup>
         <span class="backlink"> back to <a href="#toc">ToC</a> or <a href="#objectproperties">Object Property ToC</a>
         </span>
      </h3>
      <p>
         <strong>IRI:</strong> https://data.rijksfinancien.nl/budget/def/hasBudgetLine</p>
      <div class="comment">
         <span class="markdown">A budget has one or more budget lines to specify the budget. A budget line can itself consist of one or more underlying budget lines to specify the budget even further.</span>
      </div>
      <div class="description">
         <dl>
            <dt>has domain</dt>
            <dd>
               <a href="#BudgetComponent"
                  title="https://data.rijksfinancien.nl/budget/def/BudgetComponent">Budget component</a>
               <sup class="type-c" title="class">c</sup>
            </dd>
            <dt>has range</dt>
            <dd>
               <a href="#BudgetLine"
                  title="https://data.rijksfinancien.nl/budget/def/BudgetLine">Budget line</a>
               <sup class="type-c" title="class">c</sup>
            </dd>
         </dl>
      </div>
   </div>
   <div class="entity" id="hasBudgetLineAmount">
      <h3>has budget line amount<sup class="type-op" title="object property">op</sup>
         <span class="backlink"> back to <a href="#toc">ToC</a> or <a href="#objectproperties">Object Property ToC</a>
         </span>
      </h3>
      <p>
         <strong>IRI:</strong> https://data.rijksfinancien.nl/budget/def/hasBudgetLineAmount</p>
      <div class="comment">
         <span class="markdown">A budget line has one budget line amount.</span>
      </div>
      <div class="description">
         <dl>
            <dt>has domain</dt>
            <dd>
               <a href="#BudgetLine"
                  title="https://data.rijksfinancien.nl/budget/def/BudgetLine">Budget line</a>
               <sup class="type-c" title="class">c</sup>
            </dd>
            <dt>has range</dt>
            <dd>
               <a href="#BudgetAmount"
                  title="https://data.rijksfinancien.nl/budget/def/BudgetAmount">Budget amount</a>
               <sup class="type-c" title="class">c</sup>
            </dd>
         </dl>
      </div>
   </div>
   <div class="entity" id="hasBudgetedAgent">
      <h3>has budgeted agent<sup class="type-op" title="object property">op</sup>
         <span class="backlink"> back to <a href="#toc">ToC</a> or <a href="#objectproperties">Object Property ToC</a>
         </span>
      </h3>
      <p>
         <strong>IRI:</strong> https://data.rijksfinancien.nl/budget/def/hasBudgetedAgent</p>
      <div class="comment">
         <span class="markdown">An agent that is a budget beneficiary and receives as such a financial mandate to spend money up and till a maximum financial ceiling as set by the budget, or an agent that uses the budget as an estimate of future expenditures, expenses, receipts and revenues, or both.</span>
      </div>
      <div class="description">
         <dl>
            <dt>has domain</dt>
            <dd>
               <a href="#BudgetComponent"
                  title="https://data.rijksfinancien.nl/budget/def/BudgetComponent">Budget component</a>
               <sup class="type-c" title="class">c</sup>
            </dd>
            <dt>has range</dt>
            <dd>
               <a href="http://xmlns.com/foaf/0.1/Agent"
                  target="_blank"
                  title="http://xmlns.com/foaf/0.1/Agent">agent</a>
               <sup class="type-c" title="class">c</sup>
            </dd>
         </dl>
      </div>
   </div>
   <div class="entity" id="hasBudgetedEntity">
      <h3>has budgeted entity<sup class="type-op" title="object property">op</sup>
         <span class="backlink"> back to <a href="#toc">ToC</a> or <a href="#objectproperties">Object Property ToC</a>
         </span>
      </h3>
      <p>
         <strong>IRI:</strong> https://data.rijksfinancien.nl/budget/def/hasBudgetedEntity</p>
      <div class="comment">
         <span class="markdown">Any resource that money can be spent on, can be budgeted. The resource can be any object, whether abstract or physical, any activity, organisation, desired state of affairs, region, et cetera.</span>
      </div>
      <div class="description">
         <dl>
            <dt>has domain</dt>
            <dd>
               <a href="#BudgetComponent"
                  title="https://data.rijksfinancien.nl/budget/def/BudgetComponent">Budget component</a>
               <sup class="type-c" title="class">c</sup>
            </dd>
            <dt>has range</dt>
            <dd>
               <a href="#BudgetedEntity"
                  title="https://data.rijksfinancien.nl/budget/def/BudgetedEntity">Budgeted entity</a>
               <sup class="type-c" title="class">c</sup>
            </dd>
         </dl>
      </div>
   </div>
   <div class="entity" id="hasClassification">
      <h3>has classification<sup class="type-op" title="object property">op</sup>
         <span class="backlink"> back to <a href="#toc">ToC</a> or <a href="#objectproperties">Object Property ToC</a>
         </span>
      </h3>
      <p>
         <strong>IRI:</strong> https://data.rijksfinancien.nl/budget/def/hasClassification</p>
      <div class="comment">
         <span class="markdown">A budget component has one or more classifications.</span>
      </div>
      <div class="description">
         <dl>
            <dt>has domain</dt>
            <dd>
               <a href="#BudgetComponent"
                  title="https://data.rijksfinancien.nl/budget/def/BudgetComponent">Budget component</a>
               <sup class="type-c" title="class">c</sup>
            </dd>
            <dt>has range</dt>
            <dd>
               <a href="#Classification"
                  title="https://data.rijksfinancien.nl/budget/def/Classification">Classification</a>
               <sup class="type-c" title="class">c</sup>
            </dd>
         </dl>
      </div>
   </div>
   <div class="entity" id="isVersionOf">
      <h3>isVersionOf<sup class="type-op" title="object property">op</sup>
         <span class="backlink"> back to <a href="#toc">ToC</a> or <a href="#objectproperties">Object Property ToC</a>
         </span>
      </h3>
      <p>
         <strong>IRI:</strong> https://data.rijksfinancien.nl/budget/def/isVersionOf</p>
      <div class="comment">
         <span class="markdown">A budget component can go through several incarnations from draft to (amended) definitive version. This property tracks what is the former version that the current budget amends. If no amendements are there, then it refers to itself.</span>
      </div>
      <div class="description">
         <dl>
            <dt>has domain</dt>
            <dd>
               <a href="#BudgetComponent"
                  title="https://data.rijksfinancien.nl/budget/def/BudgetComponent">Budget component</a>
               <sup class="type-c" title="class">c</sup>
            </dd>
            <dt>has range</dt>
            <dd>
               <a href="#BudgetComponent"
                  title="https://data.rijksfinancien.nl/budget/def/BudgetComponent">Budget component</a>
               <sup class="type-c" title="class">c</sup>
            </dd>
         </dl>
      </div>
   </div>
</div><div xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" id="dataproperties">
   <h3 id="dataproperties-headline" class="list">Data Properties</h3>
   <ul class="hlist">
      <li>
         <a href="#authorized"
            title="https://data.rijksfinancien.nl/budget/def/authorized">date time authorized</a>
      </li>
      <li>
         <a href="#issued" title="https://data.rijksfinancien.nl/budget/def/issued">date time issued</a>
      </li>
      <li>
         <a href="#modified"
            title="https://data.rijksfinancien.nl/budget/def/modified">date time modified</a>
      </li>
      <li>
         <a href="#submitted"
            title="https://data.rijksfinancien.nl/budget/def/submitted">date time submitted</a>
      </li>
      <li>
         <a href="#description"
            title="https://data.rijksfinancien.nl/budget/def/description">has budget description</a>
      </li>
      <li>
         <a href="#identifier"
            title="https://data.rijksfinancien.nl/budget/def/identifier">identifier</a>
      </li>
      <li>
         <a href="#periodicity"
            title="https://data.rijksfinancien.nl/budget/def/periodicity">periodicity</a>
      </li>
      <li>
         <a href="#provenance"
            title="https://data.rijksfinancien.nl/budget/def/provenance">provenance</a>
      </li>
   </ul>
   <div class="entity" id="authorized">
      <h3>date time authorized<sup class="type-dp" title="data property">dp</sup>
         <span class="backlink"> back to <a href="#toc">ToC</a> or <a href="#dataproperties">Data Property ToC</a>
         </span>
      </h3>
      <p>
         <strong>IRI:</strong> https://data.rijksfinancien.nl/budget/def/authorized</p>
      <div class="comment">
         <span class="markdown">A budget or budget line is authorized on a certain date and time.</span>
      </div>
      <div class="description">
         <dl>
            <dt>has super-properties</dt>
            <dd>
               <a href="http://purl.org/dc/terms/dateAccepted"
                  target="_blank"
                  title="http://purl.org/dc/terms/dateAccepted">date accepted</a>
               <sup class="type-dp" title="data property">dp</sup>
            </dd>
            <dt>has domain</dt>
            <dd>
               <a href="#BudgetComponent"
                  title="https://data.rijksfinancien.nl/budget/def/BudgetComponent">Budget component</a>
               <sup class="type-c" title="class">c</sup>
            </dd>
         </dl>
      </div>
   </div>
   <div class="entity" id="issued">
      <h3>date time issued<sup class="type-dp" title="data property">dp</sup>
         <span class="backlink"> back to <a href="#toc">ToC</a> or <a href="#dataproperties">Data Property ToC</a>
         </span>
      </h3>
      <p>
         <strong>IRI:</strong> https://data.rijksfinancien.nl/budget/def/issued</p>
      <div class="comment">
         <span class="markdown">A budget or budget line is issued on a certain date and time.</span>
      </div>
      <div class="description">
         <dl>
            <dt>has super-properties</dt>
            <dd>
               <a href="http://purl.org/dc/terms/issued"
                  target="_blank"
                  title="http://purl.org/dc/terms/issued">issued</a>
               <sup class="type-dp" title="data property">dp</sup>
            </dd>
            <dt>has domain</dt>
            <dd>
               <a href="#BudgetComponent"
                  title="https://data.rijksfinancien.nl/budget/def/BudgetComponent">Budget component</a>
               <sup class="type-c" title="class">c</sup>
            </dd>
         </dl>
      </div>
   </div>
   <div class="entity" id="modified">
      <h3>date time modified<sup class="type-dp" title="data property">dp</sup>
         <span class="backlink"> back to <a href="#toc">ToC</a> or <a href="#dataproperties">Data Property ToC</a>
         </span>
      </h3>
      <p>
         <strong>IRI:</strong> https://data.rijksfinancien.nl/budget/def/modified</p>
      <div class="comment">
         <span class="markdown">A budget or budget line is modified on a certain date and time.</span>
      </div>
      <div class="description">
         <dl>
            <dt>has super-properties</dt>
            <dd>
               <a href="http://purl.org/dc/terms/modified"
                  target="_blank"
                  title="http://purl.org/dc/terms/modified">modified</a>
               <sup class="type-dp" title="data property">dp</sup>
            </dd>
            <dt>has domain</dt>
            <dd>
               <a href="#BudgetComponent"
                  title="https://data.rijksfinancien.nl/budget/def/BudgetComponent">Budget component</a>
               <sup class="type-c" title="class">c</sup>
            </dd>
         </dl>
      </div>
   </div>
   <div class="entity" id="submitted">
      <h3>date time submitted<sup class="type-dp" title="data property">dp</sup>
         <span class="backlink"> back to <a href="#toc">ToC</a> or <a href="#dataproperties">Data Property ToC</a>
         </span>
      </h3>
      <p>
         <strong>IRI:</strong> https://data.rijksfinancien.nl/budget/def/submitted</p>
      <div class="comment">
         <span class="markdown">A budget or budget line is submitted for authorization on a certain date and time.</span>
      </div>
      <div class="description">
         <dl>
            <dt>has super-properties</dt>
            <dd>
               <a href="http://purl.org/dc/terms/dateSubmitted"
                  target="_blank"
                  title="http://purl.org/dc/terms/dateSubmitted">date submitted</a>
               <sup class="type-dp" title="data property">dp</sup>
            </dd>
            <dt>has domain</dt>
            <dd>
               <a href="#BudgetComponent"
                  title="https://data.rijksfinancien.nl/budget/def/BudgetComponent">Budget component</a>
               <sup class="type-c" title="class">c</sup>
            </dd>
         </dl>
      </div>
   </div>
   <div class="entity" id="description">
      <h3>has budget description<sup class="type-dp" title="data property">dp</sup>
         <span class="backlink"> back to <a href="#toc">ToC</a> or <a href="#dataproperties">Data Property ToC</a>
         </span>
      </h3>
      <p>
         <strong>IRI:</strong> https://data.rijksfinancien.nl/budget/def/description</p>
      <div class="comment">
         <span class="markdown">A description of a budget component gives more context in human readable form.</span>
      </div>
      <div class="description">
         <dl>
            <dt>has super-properties</dt>
            <dd>
               <a href="http://purl.org/dc/terms/description"
                  target="_blank"
                  title="http://purl.org/dc/terms/description">description</a>
               <sup class="type-dp" title="data property">dp</sup>
            </dd>
            <dt>has domain</dt>
            <dd>
               <a href="#BudgetComponent"
                  title="https://data.rijksfinancien.nl/budget/def/BudgetComponent">Budget component</a>
               <sup class="type-c" title="class">c</sup>
            </dd>
         </dl>
      </div>
   </div>
   <div class="entity" id="identifier">
      <h3>identifier<sup class="type-dp" title="data property">dp</sup>
         <span class="backlink"> back to <a href="#toc">ToC</a> or <a href="#dataproperties">Data Property ToC</a>
         </span>
      </h3>
      <p>
         <strong>IRI:</strong> https://data.rijksfinancien.nl/budget/def/identifier</p>
      <div class="comment">
         <span class="markdown">A budget and a budget line can each be identified by an identifier</span>
      </div>
      <div class="description">
         <dl>
            <dt>has super-properties</dt>
            <dd>
               <a href="http://purl.org/dc/terms/identifier"
                  target="_blank"
                  title="http://purl.org/dc/terms/identifier">identifier</a>
               <sup class="type-dp" title="data property">dp</sup>
            </dd>
            <dt>has domain</dt>
            <dd>
               <a href="#BudgetComponent"
                  title="https://data.rijksfinancien.nl/budget/def/BudgetComponent">Budget component</a>
               <sup class="type-c" title="class">c</sup>
            </dd>
         </dl>
      </div>
   </div>
   <div class="entity" id="periodicity">
      <h3>periodicity<sup class="type-dp" title="data property">dp</sup>
         <span class="backlink"> back to <a href="#toc">ToC</a> or <a href="#dataproperties">Data Property ToC</a>
         </span>
      </h3>
      <p>
         <strong>IRI:</strong> https://data.rijksfinancien.nl/budget/def/periodicity</p>
      <div class="comment">
         <span class="markdown">A budget component has an associated periodicity, like annual, monthly, weekly, daily or incidental that indicates if and at which interval the budget component recurs.</span>
      </div>
      <div class="description">
         <dl>
            <dt>has super-properties</dt>
            <dd>
               <a href="http://purl.org/dc/terms/temporal"
                  target="_blank"
                  title="http://purl.org/dc/terms/temporal">temporal</a>
               <sup class="type-dp" title="data property">dp</sup>
            </dd>
            <dt>has domain</dt>
            <dd>
               <a href="#BudgetComponent"
                  title="https://data.rijksfinancien.nl/budget/def/BudgetComponent">Budget component</a>
               <sup class="type-c" title="class">c</sup>
            </dd>
         </dl>
      </div>
   </div>
   <div class="entity" id="provenance">
      <h3>provenance<sup class="type-dp" title="data property">dp</sup>
         <span class="backlink"> back to <a href="#toc">ToC</a> or <a href="#dataproperties">Data Property ToC</a>
         </span>
      </h3>
      <p>
         <strong>IRI:</strong> https://data.rijksfinancien.nl/budget/def/provenance</p>
      <div class="comment">
         <span class="markdown">A statement that includes a description of any succesive changes made to the budget and its budget lines.</span>
      </div>
      <div class="description">
         <dl>
            <dt>has super-properties</dt>
            <dd>
               <a href="http://purl.org/dc/terms/provenance"
                  target="_blank"
                  title="http://purl.org/dc/terms/provenance">provenance</a>
               <sup class="type-dp" title="data property">dp</sup>
            </dd>
            <dt>has domain</dt>
            <dd>
               <a href="#BudgetComponent"
                  title="https://data.rijksfinancien.nl/budget/def/BudgetComponent">Budget component</a>
               <sup class="type-c" title="class">c</sup>
            </dd>
         </dl>
      </div>
   </div>
</div><div xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" id="namedindividuals">
   <h3 id="namedindividuals" class="list">Named Individuals</h3>
   <ul class="hlist">
      <li>
         <a href="#" title="https://data.rijksfinancien.nl/budget/def/">
            <span></span>
         </a>
      </li>
      <li>
         <a href="#Ceiling"
            title="https://data.rijksfinancien.nl/budget/def/Ceiling">Ceiling</a>
      </li>
      <li>
         <a href="#CeilingEstimate"
            title="https://data.rijksfinancien.nl/budget/def/CeilingEstimate">Ceiling Estimate</a>
      </li>
      <li>
         <a href="#Estimate"
            title="https://data.rijksfinancien.nl/budget/def/Estimate">Estimate</a>
      </li>
   </ul>
   <div class="entity" id="">
      <h3>:<sup class="type-ni" title="named individual">ni</sup>
         <span class="backlink"> back to <a href="#toc">ToC</a> or <a href="#namedindividuals">Named Individual ToC</a>
         </span>
      </h3>
      <p>
         <strong>IRI:</strong> https://data.rijksfinancien.nl/budget/def/</p>
      <dl class="description">
         <dt>belongs to</dt>
         <dd>
            <a href="http://rdfs.org/ns/void#Dataset"
               target="_blank"
               title="http://rdfs.org/ns/void#Dataset">dataset</a>
            <sup class="type-c" title="class">c</sup>
         </dd>
         <dd>
            <a href="http://www.w3.org/ns/sparql-service-descriptionGraph"
               target="_blank"
               title="http://www.w3.org/ns/sparql-service-descriptionGraph">sparql service description graph</a>
            <sup class="type-c" title="class">c</sup>
         </dd>
         <dt>has facts</dt>
         <dd>
            <a href="http://purl.org/dc/terms/description"
               target="_blank"
               title="http://purl.org/dc/terms/description">description</a>
            <sup class="type-dp" title="data property">dp</sup> 
            <span class="literal">"De Budget Ontologie beschrijft de basiselementen van een budget. In deze ontologie wordt met budget een financieel plan bedoeld voor een periode en een begrote agent met een raming van toekomstige financiele transities zoals kosten, inkomsten, uitgaven en ontvangsten."@nl</span>
         </dd>
         <dd>
            <a href="http://purl.org/dc/terms/description"
               target="_blank"
               title="http://purl.org/dc/terms/description">description</a>
            <sup class="type-dp" title="data property">dp</sup> 
            <span class="literal">"The Budget Ontology describes the fundamental aspects of a budget. In this ontology the budget is taken to be a financial plan for a period and a budgeted agent with an estimate of future financial transitions like costs, revenue, expenditures and receipts and their detailed description and justification."@en</span>
         </dd>
      </dl>
   </div>
   <div class="entity" id="Ceiling">
      <h3>Ceiling<sup class="type-ni" title="named individual">ni</sup>
         <span class="backlink"> back to <a href="#toc">ToC</a> or <a href="#namedindividuals">Named Individual ToC</a>
         </span>
      </h3>
      <p>
         <strong>IRI:</strong> https://data.rijksfinancien.nl/budget/def/Ceiling</p>
      <div class="comment">
         <span class="markdown">An authorization function of a budget that works solely as a limiting ceiling of costs, revenue, expenditures and/or receipts for an organisation. In that case, it might still be possible that prognoses indicate more future expenditures, receipts, costs and/or revenue than the budget ceiling allows, and even will be done, just that these are not authorized (or financed) through this particular budget and for which other means of financing/budgeting have to be found.</span>
      </div>
      <dl class="description">
         <dt>belongs to</dt>
         <dd>
            <a href="#BudgetFunction"
               title="https://data.rijksfinancien.nl/budget/def/BudgetFunction">Budget function</a>
            <sup class="type-c" title="class">c</sup>
         </dd>
      </dl>
   </div>
   <div class="entity" id="CeilingEstimate">
      <h3>Ceiling Estimate<sup class="type-ni" title="named individual">ni</sup>
         <span class="backlink"> back to <a href="#toc">ToC</a> or <a href="#namedindividuals">Named Individual ToC</a>
         </span>
      </h3>
      <p>
         <strong>IRI:</strong> https://data.rijksfinancien.nl/budget/def/CeilingEstimate</p>
      <div class="comment">
         <span class="markdown">A budget function that works both as an estimate of future costs, revenue, expenditures and/or receipts and a limiting ceiling on implementing these.</span>
      </div>
      <dl class="description">
         <dt>belongs to</dt>
         <dd>
            <a href="#BudgetFunction"
               title="https://data.rijksfinancien.nl/budget/def/BudgetFunction">Budget function</a>
            <sup class="type-c" title="class">c</sup>
         </dd>
      </dl>
   </div>
   <div class="entity" id="Estimate">
      <h3>Estimate<sup class="type-ni" title="named individual">ni</sup>
         <span class="backlink"> back to <a href="#toc">ToC</a> or <a href="#namedindividuals">Named Individual ToC</a>
         </span>
      </h3>
      <p>
         <strong>IRI:</strong> https://data.rijksfinancien.nl/budget/def/Estimate</p>
      <div class="comment">
         <span class="markdown">A forecasting function of a budget that works solely as an estimate of future costs, revenue, expenditures and/or receipts for an organisation, to compare actuals/realisation with. </span>
      </div>
      <dl class="description">
         <dt>belongs to</dt>
         <dd>
            <a href="#BudgetFunction"
               title="https://data.rijksfinancien.nl/budget/def/BudgetFunction">Budget function</a>
            <sup class="type-c" title="class">c</sup>
         </dd>
      </dl>
   </div>
</div><div id="legend">
<h2>Legend <span class="backlink"> back to <a href="#toc">ToC</a></span></h2>
<div   class="entity">
<sup class="type-c" title="Classes">c</sup>: Classes <br/>
<sup class="type-op" title="Object Properties">op</sup>: Object Properties <br/>
<sup class="type-dp" title="Data Properties">dp</sup>: Data Properties <br/>
<sup class="type-ni" title="Named Individuals">ni</sup>: Named Individuals
</div>
</div>
